[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-security = "*"
flask-sqlalchemy = "*"
pancloud = "*"
bcrypt = "*"
tinydb = "*"
tinymongo = "*"
gunicorn = "*"
PyGithub = "*"


[dev-packages]

pytest = "*"
pytest-runner = "*"


[requires]

python_version = "3.6"
