[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Security = "*"
Flask-SQLAlchemy = "*"
bcrypt = "*"
tinydb = "*"
tinymongo = "*"
gunicorn = "*"
PyGithub = "*"
psutil = "*"
click = "*"
"e1839a8" = {path = ".", editable = true}
requests-oauthlib = "*"
pyOpenSSL = "*"
pancloud = "*"
SQLAlchemy = "*"
sqlalchemy = "*"

[dev-packages]
pytest = "*"
pytest-runner = "*"

[requires]
python_version = "3.6"
