<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Authorization
    <small></small>
  </h1>
</section>

<section class="content-header">
    <div class="col-md-6">
    {% if alert %}
    <div class="alert alert-{{ alert }} alert-dismissible" id="msg_alert" style="width: 300px">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fas fa-info-circle"></i> {{ msg }}</h4>
    </div>
    {% endif %}
    </div>
</section>

<!-- Main content -->
<section class="content">

<div id="page-wrapper">
     <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div>
                        <h3></h3>
                        <p class="text-danger">
                          <small>
                              <em>Required for interaction with Application Framework</em>
                          </small>
                        </p>
                    </div>
                    {% if not tokens %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#authorization">
                        <i class="fas fa-unlock-alt fa=lg"></i> Authorize
                    </button>
                    <a class="btn btn-success disabled" href="/refresh_tokens">
                        <i class="fas fa-sync-alt"></i>
                    </a>
                    <a class="btn btn-danger disabled" href="/delete_tokens">
                        <i class="fas fa-trash fa-lg"></i>
                    </a>
                    {% else %}
                    <button type="button" class="btn btn-primary disabled" data-toggle="modal" data-target="#authorization">
                        <i class="fas fa-unlock-alt fa-lg"></i> Authorize
                    </button>
                    <a class="btn btn-success" href="/refresh_tokens" data-toggle="tooltip" data-placement="bottom" title="Refresh Tokens">
                        <i class="fas fa-sync-alt"></i>
                    </a>
                    <a class="btn btn-danger" href="/delete_tokens" data-toggle="tooltip" data-placement="bottom" title="Delete Tokens">
                        <i class="fas fa-trash fa-lg"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            <hr>
            {% if activation %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="box box-primary">
                      <div class="box-header with-border">
                        <h3 class="box-title">Activation</h3>
                      </div>
                      <div class="box-body">
                            <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="oauth">
                            <tbody>
                                <tr>
                                    <td>Activation User</td>
                                    <td>{{ activation.name }}</td>
                                </tr>
                                <tr>
                                    <td>Activation Email</td>
                                    <td>{{ activation.email }}</td>
                                </tr>
                                <tr>
                                    <td>Company</td>
                                    <td>{{ activation.company }}</td>
                                </tr>
                                <tr>
                                    <td>Department</td>
                                    <td>{{ activation.department }}</td>
                                </tr>
                                <tr>
                                    <td>URL</td>
                                    <td>{{ activation.url }}</td>
                                </tr>
                                <tr>
                                    <td>Instance ID</td>
                                    <td>{{ activation.instance_id }}</td>
                                </tr>
                                <tr>
                                    <td>Client ID</td>
                                    <td>{{ activation.client_id }}</td>
                                </tr>
                                <tr>
                                    <td>Authorized</td>
                                    <td>{{ activation.activated }}</td>
                                </tr>
                            </tbody>
                            </table>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="box box-primary">
                      <div class="box-header with-border">
                        <h3 class="box-title">Activation</h3>
                      </div>
                      <div class="box-body">
                            <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="oauth">
                            <tbody>
                                <tr>
                                    <td>Authorized</td>
                                    <td>False</td>
                                </tr>
                            </tbody>
                            </table>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-primary">
                      <div class="box-header with-border">
                        <h3 class="box-title">Tokens</h3>
                      </div>
                      <div class="box-body">
                            <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="oauth">
                            <tbody>
                                <tr>
                                    <td>Refresh-Token</td>
                                    <td>
                                        {% if oauth.refresh_token|length > 0 %}
                                        <input id="refresh_token" type="password" data-toggle="password" class="form-control" value="{{ oauth.refresh_token }}" readonly>
                                        {% else %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Access-Token</td>
                                    <td>
                                        {% if oauth.access_token|length > 0 %}
                                        <input id="access_token" type="password" data-toggle="password" class="form-control" value="{{ oauth.access_token }}" readonly>
                                        {% else %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Token-Type</td>
                                    <td>{{ oauth.token_type }}</td>
                                </tr>
                                <tr>
                                    <td>Expires-At</td>
                                    <td id="dt"></td>
                                </tr>
                            </tbody>
                            </table>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        {% if activated == False %}
        <div class="col-lg-12">
            <div class="modal modal-default fade" id="authorization">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" style="text-align: center;">API EXPLORER <i class="fas fa-box"></i> - Authorization</h4>
                  </div>
                  <div class="modal-body">
                    <p>
                        <em>Contact TAC or your Developer Relations representative if you are missing any of the required fields.</em>
                    </p>
                    <hr>
                    <div>
                        <form action="pingid" method="post" id="authorize">
                            <div class="form-group">
                                <div class="input-group">
                                  <label>Client ID <small>*</small></label>
                                  <input type="text" class="form-control" name="client_id" autocomplete="off" size="50" value="hello_mars" required>
                                </div>
                                <div class="input-group">
                                  <label>Client Secret <small>*</small></label>
                                  <input type="password" data-toggle="password" class="form-control" size="54" name="client_secret" autocomplete="off" value="TsqJMxdBSW9QemYhiLs2ebwpIimTbsR8ejsRieCgtn1GkrgFSkimFIjNAlNcawvq" required>
                                </div>
                                <div class="input-group">
                                  <label>Redirect URI <small>*</small></label>
                                  <input type="text" class="form-control" name="redirect_uri" autocomplete="off" size="50" value="https://localhost/auth-callback" required>
                                </div>
                                <div class="input-group">
                                    <label>Scope <small>*</small><em> (select one or more)</em></label>
                                    <select id="scope" multiple name="scope" style="width: 100%;" required>
                                        <option>logging-service:read</option>
                                        <option>logging-service:write</option>
                                        <option>event-service:read</option>
                                        <option>event-service:write</option>
                                        <option>directory-sync-service:read</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" type="submit">Authorize</button>
                            </div>
                        </form>
                        <hr>
                        <p><em>Note: If successful, your API EXPLORER will receive tokens necessary for interacting with
                            your Logging, Event and Directory-Sync instances.</em></p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</section>
</div>

{% endblock %}

{% block pagescript %}

    <!-- DataTables JavaScript -->
    <script src="/js/datatables.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/bootstrap-show-password.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script>
        $(document).ready(function() {
            if ("{{ oauth.expires_at }}".length > 0) {
                var datetime = moment.unix("{{ oauth.expires_at }}").format('dddd, MMMM Do, YYYY h:mm:ss A');
                document.getElementById('dt').innerHTML=datetime;
            }
        });
    </script>
    <script>
        $("[name='registerable-toggle']").bootstrapSwitch();
    </script>
    <script>
    $(document).ready(function()
    {
        $('.delete').bootstrap_confirm_delete(
            {
                debug: true
            }
        );
    } );
    </script>
    <script>
    $(function () {
        $('#oauth').DataTable({
            "paging": false,
            "lengthChange": false,
            "autoWidth": true,
            "searching": false,
            "ordering": false,
            "info": false,
            "scrollY": false,
            "scrollX": false
        });
    });
    </script>
    <script>
    $(document).ready(function()
    {
        $('.delete').bootstrap_confirm_delete(
            {
                heading: 'Delete Tokens',
                btn_ok_label: 'Delete',
                btn_cancel_label: 'Cancel'
            }
        );
    } );
    </script>
    <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(1000, 0).slideUp(200, function(){
                $(this).alert('close');
            });
        }, 1000);
    </script>
    <script>
        $('#msg_alert').on('closed.bs.alert', function () {
            window.location.replace("/authorization");
        })
    </script>
    <script>
        $(document).ready(function() {
            $("#scope").select2();
        });
    </script>
{% endblock %}
