<!-- extend base layout -->
{% extends "base.html" %}
    {% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Event Service Explorer
          </h1>
            <p></p>
        </section>

        <!-- Main content -->
        <section class="content">
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                               <form action="eventexplorer" method="post" id="filter">
                                    <div class="form-group">
                                        <div class="input-group">
                                          <label>Channel-ID</label>
                                          <input type="text" class="form-control" name="channel" autocomplete="off" value="EventFilter">
                                        </div>
                                    </div>
                                   <div class="form-group">
                                        <div class="input-group">
                                          <label>Payload <small><em>(optional)</em></small></label></label>
                                          <input type="text" class="form-control" name="payload" autocomplete="off" placeholder="">
                                        </div>
                                    </div>
                                    <button onclick="$('#body_div').empty(); $('#spinner').show();" class="btn btn-primary" type="submit" name="endpoint" value="poll">
                                        Poll
                                    </button>
                                    <button onclick="$('#body_div').empty(); $('#spinner').show();" class="btn btn-info" type="submit" name="endpoint" value="get_filters">
                                        Get Filters
                                    </button>
                                    <button onclick="$('#body_div').empty(); $('#spinner').show();" class="btn btn-primary" type="submit" name="endpoint" value="set_filters">
                                        Set Filters
                                    </button>
                                    <button onclick="$('#body_div').empty(); $('#spinner').show();" class="btn btn-success" type="submit" name="endpoint" value="ack">
                                        ACK
                                    </button>
                                    <button onclick="$('#body_div').empty(); $('#spinner').show();" class="btn btn-danger" type="submit" name="endpoint" value="nack">
                                        NACK
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">
                                    <small>
                                        Displaying results
                                    </small>
                                </h3>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="results">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ results }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="overlay" id="spinner" style="display:none;">
                                <i class="fas fa-sync-alt fa-spin" style="color:#006D91"></i>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}
{% block pagescript %}
    <script src="/js/datatables.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#results').DataTable(
        {
            "dom": "<'row'<'col-md-6'l><'col-md-6'f>><'row'<'col-md-6'><'col-md-6'p>><'row'<'col-md-12't>><'row'<'col-md-12'i>>",
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ]
        }
        );
    });
    </script>
    <script>
        $(document).ready(function() {
            $(".select2").select2();
        });
    </script>
    <script type="text/javascript">
        $(window).on('load',function(){
            $('#activation').modal('show');
        });
    </script>
{% endblock %}
