<!-- extend base layout -->
{% extends "base.html" %}
    {% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            PAN Cloud SDK
          </h1>
            <p></p>
        </section>

        <!-- Main content -->
        <section class="content">
            <div id="page-wrapper">
                <div class="row">
                    <article>
PAN Cloud Python SDK
Python idiomatic SDK for the Palo Alto Networks Application Framework.

The PAN Cloud Python SDK was created to assist 3rd-party developers in their interactions with the various APIs implemented by the Palo Alto Networks Application Framework. The primary goal is to provide full, low-level API coverage of the following:

Logging Service API
Directory Service API
Event Service API
After understanding all the various ways applications will need to consume these APIs, the secondary goal is to provide high-level coverage, in the form of helper methods, for common tasks/operations.

Overview: https://github.com/PaloAltoNetworks/pancloud
Documentation: https://pancloud.readthedocs.io
Free software: ISC license
                    </article>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <blockquote>
                                    <p>Begin by importing the DirectoryService class from the directory module.</p>
                                </blockquote>
<pre class="prettyprint">from pancloud.directory import DirectoryService</pre>
                                <blockquote>
                                    <p>Next, define a DirectoryService instance and point it to a Directory-Sync Service API.</p>
                                </blockquote>
<pre class="prettyprint">url = 'https://app-stg1.directorysync.paloaltonetworks.com'
ds = DirectoryService(
    url,
    cert='ssl/ds.client.pem',
    verify=False
)
</pre>
                                <blockquote>
                                    <p>Prepare the query data payload.</p>
                                </blockquote>

<pre class="prettyprint">data = {
    "tenantId": "5748120208644591984",
    "domain": "ad.daniel.com"
}
</pre>
                                <blockquote>
                                    <p>Generate a new query.</p>
                                </blockquote>
<pre class="prettyprint">q = ds.cache(data, object="user")</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}
{% block pagescript %}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=python&amp;skin=desert"></script>
{% endblock %}